html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #f8f8f8;
  color: #222;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* --- Land page --- */
#intro {
  background: linear-gradient(180deg, #fafafa 0%, #eaeaea 100%);
}


.intro-content {
  display: block;
  flex-direction: column;      /* vert */
  align-items: center;         /* hor */
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  gap: 24px;                   
  position: relative;
}

/* Stile genereico di entrambe */
.legend-card, .description-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  padding: 24px 50px;
  width: 100%;
  max-width: 1500px;    
  box-sizing: border-box;
  gap: 50px;
  margin-top: -20;
  margin-bottom: 20px;
}

/* Descr */
.description-card {
  order: 1;            
  max-width: 1000px;   
  align-items: center;
  margin-left: 100px;*
  margin-bottom: 25px;
}

/* Leg */
.legend-card {
  order: 2;            
  max-width: 1500px;    
}




.legend-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.legend-card h2 {
  font-size: 40px;
  margin-bottom: 16px;
  text-align: left;
}

.legend-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px 48px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px; /* spazio icona / testo */
  white-space: nowrap;
}

.legend-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.legend-label {
  font-size: 24px;
  color: #222;

}

@media (max-width: 600px) {
  .legend-list {
    grid-template-columns: 1fr;
    gap: 10px 20px;
  }
}



/* Freccia scroll */
.scroll-down .arrow {
  font-size: 28px;
  animation: bounce 1.6s infinite;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  align-self: center;
  z-index: 100;

}


@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(6px); }
}

/* --- mappa --- */
#map-section {
  background: #ddd;
  position: relative;
}

#map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* No margini */
body {
  scroll-behavior: smooth;
}

.description-card img {
  width: 30px;   
  height: auto;  
  display: block;
  margin-bottom: 12px;
}

.icon-group {
  display: flex;
  gap: 28px;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  white-space: nowrap;
}


.icon-group img {
  width: 56px;
  height: 56px;
  object-fit: contain;
  opacity: 0.9;
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.08));
}

